@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Nunito:wght@700&display=swap');

body {
    background-color: #121214;
    font-family: 'IBM Plex Sans', sans-serif;
}

img[alt='Kenzieflix Logo'] {
    width: 229px;
    height: 68px;
    display: block;
    margin: 42px auto 73px;
    padding: 0;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    color: white;
    line-height: 41.6px;
    text-align: center;
    margin: 0;
}

section {
    width: 718px;
    height: 194px;
    display: flex;
    justify-content: center;
    margin: 61px auto 102px;
}

a {
    text-decoration: none;
}

figure {
    width: 160px;
    height: 160px;
    margin: 0px 13px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

img[alt*="Perfil"] {
    background-color: gray;
    color: #9C9C9C;
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 8px;
    box-sizing: border-box;
    object-fit: cover;
    transition: transform .5s, filter 1.5s ease;
}

figcaption,
p {
    color: #9C9C9C;
    text-align: center;
    display: block;
    margin: 16px auto 0px;
}

.addPerfil {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0px 13px;
    background-color: #1f1f21;
    display: flex;
}

.adicionarPerfil {
    width: 54px;
    height: 54px;
    font-family: 'Nunito', sans-serif;
    color: #6F6F70;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border: 5.39px solid #6F6F70;
    border-radius: 50%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover figcaption {
    color: white;
}

a:hover figure {
    border: 1.5px solid white;
    border-radius: 8px;
    box-sizing: border-box;
}

a:hover img {
    color: white;
    transform: scale(1.5);
    filter: grayscale(80%);

}

a:hover div.addPerfil {
    border: 1.5px solid white;
    border-radius: 8px;
}

a:hover div.adicionarPerfil {
    color: white;
    border-color: white;
}

a:hover p {
    color: white;
}

buttom {
    font-size: 16px;
    font-weight: 500;
    display: block;
    width: 206px;
    height: 50px;
    color: white;
    border: 1.5px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px 42px;
    margin: 0px auto 88px;
}

buttom:hover {
    background-color: white;
    color: #121214;
}